* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background: var(--gray-900);
  background-image: linear-gradient(135deg, var(--gray-900), var(--gray-600));
  color: var(--text-default);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.6rem;
  padding-top: 2.8rem;
  color: var(--text-muted);
}

.footer a:hover {
  text-decoration: underline;
}
