.defaultinput {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.2rem;
}

.defaultinputLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.defaultinputLink:hover {
  filter: brightness(50%);
  transition: all 0.12s ease-in-out;
}

.defaultinputLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
