.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.2rem;

  border-radius: 1rem;
  border: none;
  width: 22rem;
  margin: 5rem 0;
  cursor: pointer;
}

.button:hover {
  filter: brightness(50%);
  transition: all 0.12s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}
